<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>new list</h2>


  <form action="/new" method="POST">
    <div class="form-group">
      <label for="new-list">Create New List</label>
      <input id="new-list" type="text" name="title" class="form-control">
    </div>
    <button type="submit">Create</button>
  </form>

  


</body>
</html>