<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- FONT AWESOME -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="stylesheets/landing-page.css">
  <title>Welcome</title>
</head>
<body>
<!-- NAV BAR -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">DOO-DOO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END OF NAV BAR -->
<!-- =============================================================================================== -->
<!-- BEGIN SECTIONS -->
<!-- SECTION 1 -->
<div class="sections">
  <div class="container-fluid bg-1 text-center">
    <h1 class="main-title">DOO-DOO</h1>
    <!-- <img src="images/testing.png" class="img-responsive img-circle" style="display: inline" width="100" height="100"> -->
    <img src="images/bluepen.png" alt="mainpic">
    <br>
    <br>
    <a href="/signup" class="btn btn-default btn-md">GET STARTED</a>
  </div>

<!-- SECTION 2 -->
  <div class="container-fluid bg-2 text-center">
    <h2>Doo Doo is a Task Management App</h2>
    <h2>that anyone can use.</h2>
    <h3>Stay On Track</h3>
    <h3>Get Things Done</h3>
    <h3>Set Your Goals</h3>
  </div>
  
<!-- SECTION 3 -->
  <div class="container-fluid bg-3 text-center">

        <div id="featuresblocks"class="row">
            <div id="features" class="col-sm-3">
              <i id="code" class="fas fa-code fa-4x"></i>
              <br>
              <br>
              <strong><p>Use it while you're programming!</p></strong>
              <p>Make a list of steps to approach your project and tackle them one by one. Create a workflow for your code and check things off as you go. Happy Coding!</p>
            </div>
            <div id="features" class="col-sm-3">
              <i id="task" class="fas fa-tasks fa-4x"></i>
              <br>
              <br>
              <strong><p>Use it as a daily To-Do list!</p></strong>
              <p>Make a list of things you need to do around the house for the day, phone calls you need to make, doctor/dentist appointments for the family, anything you want!</p>
            </div>
            <div id="features" class="col-sm-3">
              <i id="shop" class="fas fa-shopping-cart fa-4x"></i>
              <br>
              <br>
              <strong><p>Use it for grocery shopping!</p></strong>
              <p>Whenever you remember something you need to buy, just add it to your grocery list. Then when you go to the store, all your items are there and you don't forget anything!</p>
            </div> 
            <div id="features" class="col-sm-3">
              <i id="study"class="fas fa-edit fa-4x"></i>
              <br>
              <br>
              <strong><p>Use it to study!</p></strong>
              <p>We all procrastinate and get behind on homework assignments and projects. It's normal. Use it to stay focused and finish your assignments in order and on time.</p>
            </div>
        </div>
  </div>
</div>
<!-- END OF SECTIONS -->

<!-- FOOTER -->
<footer class="container-fluid bg-4 text-center">
    <div class="row">
        <div class="col-sm-4">
          <h6 class="copyright">&copy; Gyasik Nunez 2018</h6>
        </div> 
        <div class="col-sm-4">
            <h6>Made with <i id="hearticon" class="fas fa-heartbeat fa-2x"></i> at Ironhack</a></h6> 
        </div>
        <div class="col-sm-4 icons">
            <a href="https://github.com/gyasikn" target="_blank"><i id="github" class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/gyasiknunez/" target="_blank"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a>
            <a href="mailto:gyasiknunez@gmail.com"><i id="mail" class="far fa-envelope fa-2x"></i></a>
            <a href="http://www.gyasiknunez.com" target="_blank"><i id="rebel" class="fab fa-rebel fa-2x"></i></a>
        </div> 
    </div>
</footer>


<!-- MODAL WINDOW LOGOUT
    <div id="logout-modal" class="modal">
      <div class="modal-content">
    
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Logout Successful</h2>

        </div>
    
        <div class="modal-body">
          <h3>Come Back Soon!</h3>
        </div>
    
        <div class="modal-footer">
          <h3>:)</h3>
        </div>
      </div>
    </div>
    <! END MODAL LOGOUT -->

<!-- <script src="modal/logout.js"></script> -->

</body>
</html>